@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Fira Sans", sans-serif;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #e3cfcf;
  flex-direction: row;
}

.card__img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card__description__title {
  display: flex;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.card__description {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.card__description__data {
}

.card__button.active {
  display: block;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  max-width: 180px;
  background-color: #e3cfcf;
  cursor: pointer;
  font-weight: 800;
  padding-left: 2em;
  padding-right: 2em;
}

.card__button {
  display: none;
}

.text__container {
  display: unset;
  animation: fadeIn 1s;
}

.text__container.hidden {
  display: none;
}

@media (max-width: 768px) {
  .card__description {
    padding: 2em;
  }
}

@media (max-width: 600px) {
  .card__wrapper {
    flex-direction: column;
  }

  .card__img,
  .card__description {
    width: 100%;
    height: auto;
  }

  .card__description {
    padding: 1em;
    box-sizing: border-box;
  }

  .card__img img {
    width: 100%;
    height: auto;
  }
  .card__button {
    min-width: 0;
  }
}
